# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/

# Node
node_modules/
dist/
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db
